.nav {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 1.95rem 0 .75rem;
    align-items: center;
    font-size: .70rem;
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%; 
}

.navItem {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .35rem;
    transition: 1s;
}

.navItem:hover > * {
    color: yellow;
}